<!-- login-dialog.component.html -->
<div class="relative p-8 max-w-lg mx-auto bg-white rounded-2xl shadow-xl space-y-6">
    <button type="button" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700" (click)="dialogRef.close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <h2 class="text-3xl font-extrabold text-center text-gray-900">Login</h2>
    <form class="space-y-6" (ngSubmit)="onSubmit()">
      <div>
        <label class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="mt-2 text-gray-700 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="mt-2 block text-gray-700 w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div class="text-center">
        <button type="submit" mat-raised-button color="primary" class="w-full py-3 rounded-lg text-lg">Login</button>
      </div>
    </form>
  </div>
  